body main {
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
}
body main div.wiersz {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}
body main div.wiersz div.podwiersz {
  flex-wrap: wrap;
}
body main div.wiersz div.informacje {
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
body main div.wiersz div.informacje p {
  padding: 10px;
}
body main p.trescProduktow {
  font-size: 11px;
}
body footer {
  margin-top: 5px;
}
